.shirt_container {
    padding-left: 64px;
    padding-right: 64px;
}

.shirt_header {
    margin-top: 48px;
}

.shirt_inner {
    margin-bottom: 64px;
    margin-top: 24px;
    display: grid;
    grid-template-columns: 264px 264px 264px 264px 264px;
    column-gap: 18px;
    row-gap: 150px;
}