.detail_container {
    margin: 0 119px 0 119px;
}

.detail_header {

}

.detail_inner {
    display: flex;
    justify-content: space-between;
}

.detail_left {
    border-radius: 20px;
    padding: 0 35px 0 0;
}

.image_product {
    width: 650px;
    border-radius: 20px;
}

.detal_right {
    width: 40%;
    padding: 0 35px 0 0;
}

.name_product {
    font-size: 32px;
    line-height: 1.25em;
    font-weight: 500;
    margin-bottom: 5px;
}

.detal_ratting {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: .03em;
    font-weight: 400;
    margin-bottom: 15px;
}

.price {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .03em;
    margin-bottom: 35px;
}

.add-to-cart {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
    border-bottom: 1px solid #d9d9d9;
}

.quantity {
    display: flex;
    width: 100px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    justify-content:space-around;
    align-items: center;
    width: 100px;
}

.sub-btn {
    cursor: pointer;
}

.add-btn {
    cursor: pointer;
}

.action {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 16px;
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    padding: 0 30px;
    cursor: pointer;
    width: 70%;
}

.action:hover {
    color: #000;
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9;
}

.feature {

}

.feature_header {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #000;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.feature_item {
    margin-top: 10px;
    line-height: 1.5em;
    display: flex;
    align-items: center;
    font-size: 14px;
}