.hat_container {
    padding-left: 64px;
    padding-right: 64px;
}

.hat_header {
    margin-top: 48px;
}

.hat_inner {
    margin-bottom: 64px;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}