.count-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    border: 1px solid rgba(22, 24, 35, 0.12);
}

.sub-btn {
    font-size: 20px;
    border-right: 1px solid rgba(22, 24, 35, 0.12);
    padding: 5px 7px 5px 7px;
    user-select: none;
}

.product_quantity {
    user-select: none;
}

.add-btn {
    font-size: 20px;
    border-left: 1px solid rgba(22, 24, 35, 0.12);
    padding: 5px 7px 5px 7px;
    user-select: none;
}

.cart-item-img {
    width: 100px;
}